.colaborador {
    width: 280px;
    margin-bottom: 24;
    margin-top: 24px;
}

.colaborador .encabezado {
    
    border-radius: 10px 10px 0px 0px;

} 

.colaborador img {

    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px
}

.colaborador .info{
    background-color: #ffffff;
    box-shadow:  5px 5px 15px rgba(0,0,0, 0.08);
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: "Montserrat", "sans-serif";
    border-radius: 0px 0px 10px 10px;
}

.colaborador .info h4 {
    color: #6278f7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .info h5 {
    color: #212121;
    font-size: 18px;
    line-height: 22px;
    padding: 0 24px;
    font-weight: 400;
    margin: 0;
}
