.miorg {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    
}

.text {
    position: absolute;
    font-family: "Prata", sans-serif;
    color: #6278F7;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;
  }

.miorg img{
    position: absolute;
    right: 20%;
    cursor: pointer;
    width: 100px;
    height: 100px;

}
