.boton {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 150px;
    height: 75px;
    margin-bottom: 15px;
    font-size: 18px;
    
}

.boton:hover {
    color: black;
    background: #9D87F8;
}